In [ ]:
#!pip install splink

In [ ]:
#!pip install --upgrade pip

In [44]:
from splink.duckdb.duckdb_linker import DuckDBLinker
from splink.duckdb.duckdb_comparison_library import (
    exact_match,
    levenshtein_at_thresholds,
)

import pandas as pd

In [45]:
df = pd.read_csv("./tests/datasets/fake_1000_from_splink_demos.csv")

In [46]:
df.head(-5)

,unique_id,first_name,surname,dob,city,email,group
0,0,Julia,NaN,2015-10-29,London,hannah88@powers.com,0
1,1,Julia,Taylor,2015-07-31,London,hannah88@powers.com,0
2,2,Julia,Taylor,2016-01-27,London,hannah88@powers.com,0
3,3,Julia,Taylor,2015-10-29,NaN,hannah88opowersc@m,0
4,4,oNah,Watson,2008-03-23,Bolton,matthew78@ballard-mcdonald.net,1
...,...,...,...,...,...,...,...
990,990,Sophi,Ellis,1981-10-21,Sheffield,danielle24@garcia-jones.net,178
991,991,liL,Young,1995-09-05,London,wesleykidd@miller.com,179
992,992,ily,Young,1995-09-05,London,wesleykidd@miller.com,179
993,993,NaN,Young,1995-11-09,London,weslcykidd@miler.eom,179
994,994,Lily,Ynuo,1995-09-05,London,NaN,179

In [47]:
settings = {
    "link_type": "dedupe_only",
    "blocking_rules_to_generate_predictions": [
        "l.first_name = r.first_name",
        "l.surname = r.surname",
    ],
    "comparisons": [
        levenshtein_at_thresholds("first_name", 2),
        exact_match("surname"),
        exact_match("dob"),
        exact_match("city", term_frequency_adjustments=True),
        exact_match("email"),
    ],
}

In [48]:
linker = DuckDBLinker(df, settings)
linker.estimate_u_using_random_sampling(max_pairs=1e6)

----- Estimating u probabilities using random sampling -----

Estimated u probabilities using random sampling

Your model is not yet fully trained. Missing estimates for:
    - first_name (no m values are trained).
    - surname (no m values are trained).
    - dob (no m values are trained).
    - city (no m values are trained).
    - email (no m values are trained).

In [49]:
blocking_rule_for_training = "l.first_name = r.first_name and l.surname = r.surname"
linker.estimate_parameters_using_expectation_maximisation(blocking_rule_for_training)

----- Starting EM training session -----

Estimating the m probabilities of the model by blocking on:
l.first_name = r.first_name and l.surname = r.surname

Parameter estimates will be made for the following comparison(s):
    - dob
    - city
    - email

Parameter estimates cannot be made for the following comparison(s) since they are used in the blocking rules:
    - first_name
    - surname

Iteration 1: Largest change in params was 0.244 in the m_probability of city, level `All other comparisons`
Iteration 2: Largest change in params was 0.0943 in probability_two_random_records_match
Iteration 3: Largest change in params was 0.0322 in probability_two_random_records_match
Iteration 4: Largest change in params was 0.0158 in probability_two_random_records_match
Iteration 5: Largest change in params was 0.00919 in probability_two_random_records_match
Iteration 6: Largest change in params was 0.00586 in probability_two_random_records_match
Iteration 7: Largest change in params was 0.00397 in probability_two_random_records_match
Iteration 8: Largest change in params was 0.0028 in probability_two_random_records_match
Iteration 9: Largest change in params was 0.00204 in probability_two_random_records_match
Iteration 10: Largest change in params was 0.00151 in probability_two_random_records_match
Iteration 11: Largest change in params was 0.00114 in probability_two_random_records_match
Iteration 12: Largest change in params was 0.000871 in probability_two_random_records_match
Iteration 13: Largest change in params was 0.000671 in probability_two_random_records_match
Iteration 14: Largest change in params was 0.000521 in probability_two_random_records_match
Iteration 15: Largest change in params was 0.000406 in probability_two_random_records_match
Iteration 16: Largest change in params was 0.000318 in probability_two_random_records_match
Iteration 17: Largest change in params was 0.00025 in probability_two_random_records_match
Iteration 18: Largest change in params was 0.000197 in probability_two_random_records_match
Iteration 19: Largest change in params was 0.000156 in probability_two_random_records_match
Iteration 20: Largest change in params was 0.000123 in probability_two_random_records_match
Iteration 21: Largest change in params was 9.77e-05 in probability_two_random_records_match

EM converged after 21 iterations

Your model is not yet fully trained. Missing estimates for:
    - first_name (no m values are trained).
    - surname (no m values are trained).

In [50]:
blocking_rule_for_training = "l.dob = r.dob"
linker.estimate_parameters_using_expectation_maximisation(blocking_rule_for_training)

----- Starting EM training session -----

Estimating the m probabilities of the model by blocking on:
l.dob = r.dob

Parameter estimates will be made for the following comparison(s):
    - first_name
    - surname
    - city
    - email

Parameter estimates cannot be made for the following comparison(s) since they are used in the blocking rules:
    - dob

Iteration 1: Largest change in params was 0.499 in probability_two_random_records_match
Iteration 2: Largest change in params was 0.285 in probability_two_random_records_match
Iteration 3: Largest change in params was 0.0954 in probability_two_random_records_match
Iteration 4: Largest change in params was 0.0319 in probability_two_random_records_match
Iteration 5: Largest change in params was 0.0145 in probability_two_random_records_match
Iteration 6: Largest change in params was 0.00788 in probability_two_random_records_match
Iteration 7: Largest change in params was 0.00476 in probability_two_random_records_match
Iteration 8: Largest change in params was 0.00307 in probability_two_random_records_match
Iteration 9: Largest change in params was 0.00207 in probability_two_random_records_match
Iteration 10: Largest change in params was 0.00143 in probability_two_random_records_match
Iteration 11: Largest change in params was 0.00101 in probability_two_random_records_match
Iteration 12: Largest change in params was 0.000728 in probability_two_random_records_match
Iteration 13: Largest change in params was 0.000528 in probability_two_random_records_match
Iteration 14: Largest change in params was 0.000387 in probability_two_random_records_match
Iteration 15: Largest change in params was 0.000284 in probability_two_random_records_match
Iteration 16: Largest change in params was 0.00021 in probability_two_random_records_match
Iteration 17: Largest change in params was 0.000156 in probability_two_random_records_match
Iteration 18: Largest change in params was 0.000116 in probability_two_random_records_match
Iteration 19: Largest change in params was 8.61e-05 in probability_two_random_records_match

EM converged after 19 iterations

Your model is fully trained. All comparisons have at least one estimate for their m and u values

In [51]:
pairwise_predictions = linker.predict()
pairwise_predictions.as_pandas_dataframe(limit=10)

,match_weight,match_probability,unique_id_l,unique_id_r,first_name_l,first_name_r,gamma_first_name,surname_l,surname_r,gamma_surname,dob_l,dob_r,gamma_dob,city_l,city_r,gamma_city,email_l,email_r,gamma_email,match_key
0,-1.313057,0.286971,0,3,Julia,Julia,2,NaN,Taylor,-1,2015-10-29,2015-10-29,1,London,NaN,-1,hannah88@powers.com,hannah88opowersc@m,0,0
1,-4.119211,0.054412,1,3,Julia,Julia,2,Taylor,Taylor,1,2015-07-31,2015-10-29,0,London,NaN,-1,hannah88@powers.com,hannah88opowersc@m,0,0
2,-4.119211,0.054412,2,3,Julia,Julia,2,Taylor,Taylor,1,2016-01-27,2015-10-29,0,London,NaN,-1,hannah88@powers.com,hannah88opowersc@m,0,0
3,-12.447415,0.000179,5,633,Noah,Noah,2,Watson,Gibson,0,2008-03-23,1987-08-16,0,Bolton,Ldnon,0,matthew78@ballard-mcdonald.net,avazquez@banks.com,0,0
4,-12.447415,0.000179,7,633,Noah,Noah,2,Watson,Gibson,0,2008-02-05,1987-08-16,0,tolon,Ldnon,0,matthew78@ballard-mcdonald.net,avazquez@banks.com,0,0
5,-10.791578,0.000564,9,633,Noah,Noah,2,Watson,Gibson,0,2008-01-19,1987-08-16,0,Bolton,Ldnon,0,NaN,avazquez@banks.com,-1,0
6,-9.876103,0.001063,12,633,Noah,Noah,2,NaN,Gibson,-1,2008-03-23,1987-08-16,0,Blotn,Ldnon,0,NaN,avazquez@banks.com,-1,0
7,-9.371038,0.001508,16,948,Amelia,Amelia,2,Alexander,Johnson,0,1983-05-19,1985-05-04,0,Glaogw,NaN,-1,NaN,olsondanielle@martinez.com,-1,0
8,-11.026874,0.000479,17,948,Amelia,Amelia,2,Alexander,Johnson,0,1983-04-30,1985-05-04,0,Glasgow,NaN,-1,icampbeal@lllen-lews.org,olsondanielle@martinez.com,0,0
9,-11.026874,0.000479,18,948,Amelia,Amelia,2,Alexander,Johnson,0,1983-05-19,1985-05-04,0,Glasgow,NaN,-1,icampbell@allen-lewis.org,olsondanielle@martinez.com,0,0

In [52]:
clusters = linker.cluster_pairwise_predictions_at_threshold(pairwise_predictions, 0.95)
clusters.as_pandas_dataframe(limit=50)

Completed iteration 1, root rows count 10
Completed iteration 2, root rows count 1
Completed iteration 3, root rows count 0

,cluster_id,unique_id,first_name,surname,dob,city,email,group,tf_city
0,0,0,Julia,NaN,2015-10-29,London,hannah88@powers.com,0,0.288440
1,1,1,Julia,Taylor,2015-07-31,London,hannah88@powers.com,0,0.288440
2,1,2,Julia,Taylor,2016-01-27,London,hannah88@powers.com,0,0.288440
3,3,3,Julia,Taylor,2015-10-29,NaN,hannah88opowersc@m,0,NaN
4,4,4,oNah,Watson,2008-03-23,Bolton,matthew78@ballard-mcdonald.net,1,0.015713
5,4,5,Noah,Watson,2008-03-23,Bolton,matthew78@ballard-mcdonald.net,1,0.015713
6,6,6,Watson,Noah,2008-03-23,NaN,matthew78@ballard-mcdonald.net,1,NaN
7,7,7,Noah,Watson,2008-02-05,tolon,matthew78@ballard-mcdonald.net,1,0.001122
8,6,8,Watson,Noah,2008-06-15,Bolton,matthew78@ballard-mcdonald.net,1,0.015713
9,9,9,Noah,Watson,2008-01-19,Bolton,NaN,1,0.015713
10,11,11,Watson,Noah,2008-01-21,Bolno,matthea78@bwllar-mcdonald.net,1,0.001122
11,12,12,Noah,NaN,2008-03-23,Blotn,NaN,1,0.001122
12,13,13,Molly,Bell,2002-01-05,Peterborough,NaN,2,0.014590
13,17,17,Amelia,Alexander,1983-04-30,Glasgow,icampbeal@lllen-lews.org,3,0.014590
14,16,18,Amelia,Alexander,1983-05-19,Glasgow,icampbell@allen-lewis.org,3,0.014590
15,21,21,Oliver,Connolly,1972-03-08,Plymouth,NaN,4,0.008979
16,22,22,NaN,Connolly,1972-03-08,Plyohtu,derekwilliams@norris.com,4,0.001122
17,23,23,NaN,Thompson,1996-03-22,Leeds,jefferyduke@brown-salazar.org,5,0.037037
18,24,24,Thompson,Ollie,1996-03-22,NaN,jefferyduke@brown-salazar.org,5,NaN
19,25,25,NaN,Thompson,1995-12-18,Leeds,NaN,5,0.037037
20,26,26,Ollie,Thompson,1996-03-22,Leeds,jefferyduke@brown-alazar.org,5,0.037037
21,31,31,Harris,Matilda,1983-05-24,London,NaN,6,0.288440
22,32,34,Baxter,Aria,1992-09-30,London,christineshepherd@allen.com,7,0.288440
23,33,36,Aria,Baxter,1992-09-07,London,christineshepherd@allen.com,7,0.288440
24,38,38,Olivia,Andrews,2009-01-23,NaN,hesterkurt@taylor-fitzgerald.com,9,NaN
25,38,39,Olivia,Andrews,2009-01-23,London,hesterkurt@taylor-fitzgerald.com,9,0.288440
26,38,42,Olivia,Andrews,2009-01-23,London,hesterkuot@taylrr-fitzgeraldcom,9,0.288440
27,43,43,Chloe,Macdonald,2015-02-04,NaN,jennifer25@hill.biz,10,NaN
28,44,45,Millie,Harris,1996-07-27,London,lynn04@jones.com,11,0.288440
29,47,47,Mliie,Harris,1996-06-05,London,l0nny4@ones.com,11,0.288440
30,44,48,Millie,Harris,1996-07-27,NaN,lynn04@jones.com,11,NaN
31,49,49,Theodore,NaN,1982-09-10,Leeds,markstewart@gross.com,12,0.037037
32,50,50,Thedore,Maxwell,1982-10-19,Leeds,markstewart@gross.com,12,0.037037
33,50,51,Theodore,Maxwell,1982-10-19,Leeds,markstewart@gross.com,12,0.037037
34,50,52,Theodore,Maxwell,1982-10-19,NaN,NaN,12,NaN
35,50,53,Theodore,Maxwell,1982-10-19,Leeds,markstewart@gross.com,12,0.037037
36,50,54,Theodore,NaN,1982-10-19,Leeds,markstewart@gross.com,12,0.037037
37,50,55,NaN,Maxwell,1982-10-19,Leeds,markstewart@gross.com,12,0.037037
38,56,56,Thedero,Mxwell,1983-01-18,Leeds,markstewart@gross.com,12,0.037037
39,50,57,Theodore,Maxwell,1982-10-19,Lees,markstewart@gross.com,12,0.001122
40,58,58,Elijah,NaN,1970-06-01,Sunderland,barbaraolson@smith.com,13,0.031425
41,59,59,Elijah,James,1970-03-24,Sunderland,barbaraolson@smith.com,13,0.031425
42,62,62,NaN,James,1970-04-05,Sunderland,barbaraolson@smith.com,13,0.031425
43,63,63,Maya,Jones,2010-08-05,Sunderland,erin01@york.com,14,0.031425
44,64,64,Jones,Maya,2010-06-21,Sunderland,erin01@york.com,14,0.031425
45,67,67,Maya,Jnos,2010-07-12,Sunderland,erin01@york.com,14,0.031425
46,63,68,Maya,Jones,2010-10-18,Sunderland,erin01@york.com,14,0.031425
47,69,70,Isabelal,Cooper,1987-11-18,Stockton-on-Tees,imoore@turner-gonzalez.info,15,0.011223
48,69,76,Isabella,NaN,1987-11-18,Stockton-on-Tees,zmoore@turner-gonzalei.inf,15,0.011223
49,77,77,Cooper,Isabella,1987-11-18,Stocton-ok-Tees,imoore@turner-gonzalez.info,15,0.001122